@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 500;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: 700;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: 900;
}

$black: #1a1a1a;
$orange: #dcae5f;
$gray1: #b2b2b2;
$gray2: #f0f0f0;
$gray3: #808080;

$blue: #00aeec;
$lightblue: #9fd8f2;
$white: #fff;
$hover: #666;

$header-height: 172px;

$family: "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$size-9: 9.5px;
$size-10: 10.5px;
$size-11: 11.5px;
$size-12: 12.5px;
$size-13: 13px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;

$width-pc: 1024px;
$width-sp: 320px;