@import "variable";
@import "mixin";

* {
    background: none;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    body {
        color: $black;
        font-family: $family;
        font-size: $size-13;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-smoothing: antialiased;
        line-height: 1.7;
        letter-spacing: 0.03em;
        height: 100%;
        
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -o-text-size-adjust: 100%;
        text-size-adjust: 100%;
        text-align: center;
        width: 100%;
    }
    @media screen and (min-width:768px) {
        body {
            font-size: $size-13;
        }
    }
}

a {
    color: $black;
    text-decoration: none;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
a:active, a:hover {
	outline: 0;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
}
article, aside, dialog, figure, footer, header, main, menu, nav, section {
    display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
hr {
    display: block;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1.5em 40px;
}
dfn {
	font-style: italic;
}
ol, ul {
    list-style: none;
}
input, select {
    vertical-align: middle;
}
hr {
    border-bottom: 1px solid #000;
    clear: both;
    margin: 0 0 2em;
}
p {
    font-size: $size-15;
    margin: 2em 0 0;
    text-align: left;
}
table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin: 0 0 2em;
    text-align: left;
    width: 100%;
    th {
        border: none;
    }
    td {
        border: none;
    }
}

.pc {
    display: block!important;
}
.tb {
    display: none!important;
}
.sp {
    display: none!important;
}

.inner {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    @include clearfix;
}
@media screen and (min-width:768px) {
    .inner {
        font-size: $size-13;
        width: $width-pc;
    }
}

a:hover {
    color: $orange;
    /*opacity: 0.70;
    -moz-opacity: 0.70;
    filter: alpha(opacity=70);*/
}

/*--------------------------------------------------------------------------
header
--------------------------------------------------------------------------*/
header {
    background: #fff;
    height: 96px;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 2;
    @include clearfix;
    .inner {
        margin: 0 auto;
        width: 1024px;
    }
    h1 {
        float: left;
        height: 19px;
        margin: 32px 0 20px 0;
        width: 304px;
        a {
            display: block;
        }
        a img {
            height: auto;
            width: 100%;
        }
    }
    nav {
        float: right;
        margin: 32px 0 0;
        ul {
            float: left;
            
        }
        ul li {
            float: left;
            font-size: $size-15;
            font-weight: 900;
            padding: 10px 15px;
        }
        #telno {
            background: $orange;
            float: left;
            font-size: 0;
            height: 36px;
            margin: 4px 7px;
            padding: 0 15px;
        }
        #telno img {
            margin: 12px 0 13px;
        }
        #contact {
            background: $orange;
            float: left;
            font-size: $size-15;
            font-weight: 900;
            line-height: 36px;
            margin: 4px 0 4px 7px;
            padding: 0 15px;
        }
        #contact:hover {
            background: $black;
            color: $white;
        }
    }
}

/*--------------------------------------------------------------------------
animation
--------------------------------------------------------------------------*/
.fadeInDown {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
    0% { opacity: 0; -webkit-transform: translateY(0); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
    0% { opacity: 0; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

/*--------------------------------------------------------------------------
main
--------------------------------------------------------------------------*/
main {
    margin: 0 auto;
    @include clearfix;
    .main-group {
    }
    #main1 {
        background: url(../images/main/bg-main1.gif) 0 0 no-repeat;
        background-size: 900px 900px;
    }
    #visual {
        background: url(../../images/visual.jpg) 0 0 no-repeat;
        background-size: contain;
        height: 576px;
        margin: 96px auto 0;
        position: relative;
        width: $width-pc;
        #visual-mask {
            background: url(../images/main/visual_mask.png) 0 0 repeat;
            height: 576px;
            width: $width-pc;
        }
        #visual-copy {
            color: $white;
            font-size: 32px;
            font-weight: 900;
            position: absolute;
            left: 65px;
            top: 160px;
            text-align: left;
        }
        #news {
            background: $black;
            @include clearfix;
            h2 {
                float: left;
                padding: 3px 0 0;
                width: 110px;
            }
            .inner {
                border-left: solid 1px $white;
                float: left;
                padding: 8px 30px;
                width: 854px;
            }
            dl {
                color: $white;
                float: left;
            }
            dl dt,
            dl dd {
                float: left;
            }
            dl dt {
                margin: 0 20px 0 0;
            }
            dl dd span.pc {
                display: inline!important;
            }
        }
    }
    h2 {
        p {
            font-size: $size-20;
            font-weight: 900;
            display: block;
            letter-spacing: 0.2em;
            margin: 15px auto 0!important;
            text-align: center;
        }
    }
    #aboutus {
        margin: 30px auto 0;
        padding: 90px 0 70px;
        p {
            margin: 40px auto 0;
            max-width: 750px;
        }
    }
    .button {
        background: $white;
        border: solid 1px $black;
        color: $black;
        display: block;
        font-size: $size-16;
        font-weight: 700;
        margin: 70px auto 0;
        padding: 15px 0;
        text-align: center;
        width: 220px;
    }
    .button:hover {
        background: $orange;
        border: solid 1px $orange;
        color: $white;
    }
    .line {
        @include line;
        
    }
    #main2 {
        background: url(../images/main/bg-main2.gif) 0 bottom no-repeat;
        background-size: 180px 180px;
    }
    #services {
        padding: 70px 0 150px;
        .inner {
            @include clearfix;
            dl {
                float: left;
                margin: 50px auto 0;
                width: 320px;
            }
            #services-branding,
            #services-graphic {
                margin-right: 32px;
            }
            dl dd p {
                font-size: $size-15;
            }
            dl dd h3 {
                font-size: $size-18;
                font-weight: 900;
                margin: 20px auto 0;
            }
            
        }
    }
    #main2-main3 {
        margin: 0 auto;
    }
    #main3 {
        background: url(../images/main/bg-main3.gif) 0 0 no-repeat;
        background-size: 180px 180px;
    }
    #price {
        padding: 70px 0 0;
        .bg {
            background: url(../images/main/bg-main4.gif) right bottom no-repeat;
            background-size: 101px 101px;
            padding: 0 0 101px;
        }
        .inner {
            @include clearfix;
            dl {
                float: left;
                margin: 50px auto 0;
                width: 320px;
            }
            #price-startup,
            #price-graphic {
                margin-right: 32px;
            }
            dl dd {
                position: relative;
                padding: 0 0 80px;
            }
            dl dd p {
                font-size: $size-15;
            }
            dl dd h3 {
                font-size: $size-18;
                font-weight: 900;
                margin: 20px auto 0;
            }
            dl dd a {
                display: block;
                font-size: $size-15;
                font-weight: 900;
                height: 54px;
                padding: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: right;
                width: 320px;
            }
            #price-startup dd a {
                background: url(../images/main/price-200000_on.gif) 0 0 no-repeat;
                background-size: 320px 54px;
            }
            #price-graphic dd a {
                background: $black url(../images/main/price-15000_on.gif) 0 0 no-repeat;
                background-size: 320px 54px;
            }
            #price-web dd a {
                background: $black url(../images/main/price-60000_on.gif) 0 0 no-repeat;
                background-size: 320px 54px;
            }
            dl dd a img {
                -webkit-transition: .2s ease-in-out;
                -moz-transition: .2s ease-in-out;
                -ms-transition: .2s ease-in-out;
                -o-transition: .2s ease-in-out;
                transition: .2s ease-in-out;
            }
            dl dd a:hover img {
                opacity: 0.00;
                -moz-opacity: 0.00;
                filter: alpha(opacity=00);
            }
        }
    }
    #main4 {
        background: url(../images/main/bg-main4.gif) right 0 no-repeat;
        background-size: 102px 102px;
        height: 0;
    }
    #main4-main5 {
        margin: 0 auto;
    }
    #main5 {
        background: url(../images/main/bg-main5.gif) right 0 no-repeat;
        background-size: 600px 498px;
    }
    #japan {
        padding: 70px 0 70px;
        .inner {
            width: 100%;
            
        }
        p {
            margin: 40px auto 0;
            max-width: 750px;
        }
    }
    #contact {
        background: $orange;
        padding: 70px 0 70px;
        p {
            margin: 40px auto 0;
            width: 750px;
        }
        .inner {
            @include clearfix;
        }
        dl {
            background: $white url(../images/main/bg-orange.gif) 0 0 repeat-x;
            float: left;
            padding: 0 0 30px;
            width: 350px;
        }
        dl dt h3 {
            font-size: $size-18;
            font-weight: 900;
            margin: 20px auto 0;
        }
        dl dd p {
            margin: 20px auto 0;
            text-align: center;
            width: 100%;
        }
        #contact-tel {
            margin: 40px 0 0 137px;
            padding: 0 0 35px;
            dd a {
                display: block;
                font-size: 32px;
                font-weight: 900;
                margin: 30px auto 0;
            }
        }
        #contact-mail {
            margin: 40px 137px 0 50px;
            dd a {
                background: $black;
                color: $white;
                display: block;
                font-size: $size-15;
                font-weight: 900;
                margin: 30px auto 0;
                padding: 15px 0;
                width: 210px;
            }
            dd a:hover {
                background: $orange;
            }
        }
    }
}


/*--------------------------------------------------------------------------
footer
--------------------------------------------------------------------------*/
footer {
    background: $gray2;
    margin: 0 auto;
    padding: 50px 0 0;
    nav {
        ul {
            padding: 0 0 40px;
            @include clearfix;
        }
        ul li {
            display: inline-block;
            margin: 0 17px;
        }
        ul li a {
            font-size: $size-15;
        }
    }
    .business-data {
        border-top: solid 1px $black;
        border-bottom: solid 1px $black;
        padding: 60px 0;
        h2 {
            font-size: $size-15;
            font-weight: 900;
        }
        p {
            font-size: $size-12;
            
            text-align: center;
        }
    }
    .privacypolicy {
        color: $gray1;
        display: block;
        margin: 30px auto 40px;
        text-align: center;
    }
    address {
        background: $black;
        font-style: normal;
        padding: 60px 0 0;
        p {
            color: $white;
            font-size: $size-12;
            text-align: center;
        }
        #copyright {
            color: $gray3;
            font-size: $size-10;
            padding: 40px 0 25px;
        }
    }
}

/*========================================================================*/
@media screen and (max-width:960px) {
    
    
    
}

/*========================================================================*/
@media screen and (max-width:768px) {
    
    .pc {
        display: none!important;
    }
    .tb {
        display: none!important;
    }
    .sp {
        display: block!important;
    }
    
    /*--------------------------------------------------------------------------
    header
    --------------------------------------------------------------------------*/
    header {
        background: $white;
        height: 50px;
        position: fixed;
        top: 0;
        text-align: center;
        width: 100%;
        z-index: 2;
        @include clearfix;
        .inner {
            margin: 0 auto;
            width: 100%;
        }
        h1 {
            float: left;
            height: 10px;
            margin: 0 0 0 20px;
            width: 168px;
        }
        nav {
            margin: 0;
            #contact-button {
                background: $black url(../images/header/icon-mail.png) 15px 18px no-repeat;
                background-size: 20px 14px;
                cursor: pointer;
                height: 50px;
                position: absolute;
                right: 50px;
                width: 50px;
            }
            #nav-button {
                background: $orange;
                cursor: pointer;
                display: block;
                height: 50px;
                position: relative;
                width: 50px;
                span {
                    background-color: $black;
                    border-radius: 3px;
                    height: 2px;
                    position: absolute;
                    left: 15px;
                    width: 21px;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }
                span:nth-of-type(1) {
                    top: 17px;
                }
                span:nth-of-type(2) {
                    top: 23px;
                }
                span:nth-of-type(3) {
                    top: 29px;
                }
            }
            #nav-area {
                background: $white;
                position: absolute;
                top: 70px;
                right: -170px;
                padding: 20px 0 15px;
                width: 170px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
            ul {
                float: none;
            }
            ul li {
                clear: left;
                color: $gray1;
                float: none;
                font-size: $size-12;
                font-weight: 900;
                padding: 0 10px 0 15px;
                text-align: left;
            }
            ul li#nav-price {
                padding: 10px 10px 10px 15px;
            }
            ul li#nav-privacy {
                padding: 20px 10px 10px 15px;
            }
            ul li a {
                color: $black;
                display: block;
                padding: 10px 0;
            }
            ul li ul li {
                clear: none;
                font-size: $size-10;
                font-weight: 500;
                padding: 0 0 0 5px;
            }
            
            ul li ul li span {
                clear: left;
                display: block;
                float: left;
                font-weight: 500;
                padding: 5px 0 0;
                width: 10px;
            }
            
            ul li ul li a {
                display: block;
                float: left;
                padding: 5px 0;
                width: 130px;
            }
            #telno {
                display: none;
            }
            #telno img {
                margin: 12px 0 13px;
            }
            #contact {
                display: none;
            }
            #contact:hover {
                background: $black;
                color: $white;
            }
        }
        nav.is-open {
            #nav-button {
                span {
                    height: 2px;
                    left: 15px;
                    width: 22px;
                }
                span:nth-of-type(1) {
                    -webkit-transform: translateY(6px) rotate(-45deg);
                    transform: translateY(6px) rotate(-45deg);
                }
                span:nth-of-type(2) {
                    opacity: 0;
                }
                span:nth-of-type(3) {
                    -webkit-transform: translateY(-6px) rotate(45deg);
                    transform: translateY(-6px) rotate(45deg);
                }
            }
            #nav-area {
                -webkit-transform: translateX(-170px);
                transform: translateX(-170px);
            }
        }
    }
    /*--------------------------------------------------------------------------
    main
    --------------------------------------------------------------------------*/
    main {
        margin: 0 auto;
        @include clearfix;
        .main-group {
        }
        #main1 {
            background: none;
        }
        #visual {
            background: url(../../images/visual.jpg) -380px 0 no-repeat;
            background-size: auto 100%;
            height: 576px;
            margin: 50px auto 0;
            position: relative;
            width: 100%;
            
            #visual-mask {
                background: url(../images/main/visual_mask.png) 0 0 repeat;
                height: 576px;
                width: 100%;
            }
            #visual-copy {
                color: $white;
                margin: 0;
                position: absolute;
                left: 0;
                top: 0;
                text-align: justify;
                width: 250px;
            }
            #news {
                background: $black;
                @include clearfix;
                h2 {
                    float: left;
                    padding: 0;
                    position: relative;
                    width: 20%;
                    img {
                        height: 9px;
                        width: 36px;
                    }
                }
                .inner {
                    border-left: solid 1px $white;
                    float: left;
                    padding: 10px 3% 6px;
                    width: 80%;
                }
                dl {
                    color: $white;
                    float: left;
                    font-size: $size-10;
                    width: 100%;
                }
                dl dt,
                dl dd {
                    float: left;
                    text-align: left;
                }
                dl dt {
                    margin: 0 5% 0 0;
                    width: 10%;
                }
                dl dd {
                    width: 85%;
                }
                dl dd span.pc {
                    display: none!important;
                }
                dl dd span.sp {
                    display: inline!important;
                }
            }
        }
        h2 {
            p {
                font-size: $size-20!important;
                font-weight: 900;
                display: block;
                letter-spacing: 0.2em;
                margin: 15px auto 0!important;
                text-align: center;
            }
        }
        #aboutus {
            background: url(../images/main/bg-main1.gif) 0 30px no-repeat;
            background-size: 90px 90px;
            margin: 0;
            padding: 120px 0 0;
            .bg {
                background: url(../images/main/bg-main6.gif) right bottom no-repeat;
                background-size: 70px 70px;
                padding: 0 0 70px;
            }
            p {
                font-size: $size-12;
                margin: 40px auto 0;
                width: $width-sp;
            }
            .button {
                display: none;
            }
        }
        .button {
            background: $white;
            border: solid 1px $black;
            color: $black;
            display: block;
            font-size: $size-16;
            font-weight: 700;
            margin: 70px auto 0;
            padding: 15px 0;
            text-align: center;
            width: 220px;
        }
        .button:hover {
            background: $orange;
            border: solid 1px $orange;
            color: $white;
        }
        .line {
            @include line;

        }
        #main2 {
            background: url(../images/main/bg-main6.gif) right bottom no-repeat;
            background-size: 70px 70px;
        }
        #services {
            padding: 0 0 50px;
            text-align: center;
            .bg {
                background: url(../images/main/bg-main7.gif) right top no-repeat;
                background-size: 70px 70px;
                padding: 70px 0 0;
            }
            .inner {
                @include clearfix;
                dl {
                    float: none;
                    margin: 50px auto 0;
                    width: $width-sp;
                }
                #services-branding,
                #services-graphic {
                    margin-right: auto;
                }
                dl dt img {
                    height: auto;
                    width: 100%;
                }
                dl dd p {
                    font-size: $size-12;
                }
                dl dd h3 {
                    font-size: $size-16;
                    font-weight: 900;
                    margin: 20px auto 0;
                }
            }
        }
        #main2-main3 {
            margin: 0 auto;
        }
        #main3 {
            background: url(../images/main/bg-main2.gif) left bottom no-repeat;
            background-size: 70px 70px;
        }
        #price {
            padding: 0 0 70px;
            text-align: center;
            .bg {
                background: url(../images/main/bg-main7.gif) right top no-repeat;
                background-size: 70px 70px;
                padding: 70px 0 0;
            }
            .inner {
                @include clearfix;
                dl {
                    float: none;
                    margin: 50px auto 0;
                    width: $width-sp;
                }
                #price-startup,
                #price-graphic {
                    margin-right: auto;
                }
                dl dd {
                    position: relative;
                    padding: 0 0 80px;
                }
                dl dd p {
                    font-size: $size-12;
                }
                dl dd h3 {
                    font-size: $size-18;
                    font-weight: 900;
                    margin: 20px auto 0;
                }
                dl dd a {
                    display: block;
                    font-size: $size-15;
                    font-weight: 900;
                    height: 54px;
                    padding: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: right;
                    width: 320px;
                }
                #price-startup dd a {
                    background: url(../images/main/price-200000_on.gif) 0 0 no-repeat;
                    background-size: 320px 54px;
                }
                #price-graphic dd a {
                    background: $black url(../images/main/price-15000_on.gif) 0 0 no-repeat;
                    background-size: 320px 54px;
                }
                #price-web dd a {
                    background: $black url(../images/main/price-60000_on.gif) 0 0 no-repeat;
                    background-size: 320px 54px;
                }
                dl dd a img {
                    -webkit-transition: .2s ease-in-out;
                    -moz-transition: .2s ease-in-out;
                    -ms-transition: .2s ease-in-out;
                    -o-transition: .2s ease-in-out;
                    transition: .2s ease-in-out;
                }
                dl dd a:hover img {
                    opacity: 0.00;
                    -moz-opacity: 0.00;
                    filter: alpha(opacity=00);
                }
            }
        }
        #main4 {
            background: url(../images/main/bg-main7.gif) right top no-repeat;
            background-size: 70px 70px;
        }
        #main4-main5 {
            margin: 0 auto;
        }
        #main5 {
            background: url(../images/main/bg-main6.gif) right bottom no-repeat;
            background-size: 140px 140px;
        }
        #japan {
            background: url(../images/main/bg-main3.gif) left top no-repeat;
            background-size: 70px 70px;
            padding: 50px 0 50px;
            h2 p {
                letter-spacing: 0.07em;
            }
            p {
                font-size: $size-12;
                margin: 40px auto 0;
                width: $width-sp;
            }
        }
        #contact {
            background: $orange;
            padding: 70px 0 70px;
            text-align: center;
            p {
                font-size: $size-12;
                margin: 40px auto 0;
                width: $width-sp;
                
            }
            dl {
                background: $white url(../images/main/bg-orange.gif) 0 0 repeat-x;
                clear: left;
                float: none;
                padding: 0 0 30px;
                width: $width-sp;
            }
            dl dt h3 {
                font-size: $size-18;
                font-weight: 900;
                margin: 10px auto 0;
            }
            dl dd p {
                margin: 5px auto 0;
                text-align: center;
                width: 100%;
            }
            #contact-tel {
                margin: 30px auto 0;
                dd a {
                    display: block;
                    font-size: 32px;
                    font-weight: 900;
                    margin: 15px auto 0;
                }
            }
            #contact-mail {
                margin: 30px auto 0;
                dd a {
                    background: $black;
                    color: $white;
                    display: block;
                    font-size: $size-15;
                    font-weight: 900;
                    margin: 15px auto 0;
                    padding: 15px 0;
                    width: 210px;
                }
                dd a:hover {
                    background: $orange;
                }
            }
        }
    }
    
    /*--------------------------------------------------------------------------
    footer
    --------------------------------------------------------------------------*/
    footer {
        padding: 30px 0 0;
        nav {
            padding: 0 0 20px;
            ul {
                padding: 0 0 5px;
                @include clearfix;
            }
            ul li {
                display: inline-block;
                margin: 0 17px;
            }
            ul li a {
                font-size: $size-15;
            }
        }
        .business-data {
            border-top: solid 1px $black;
            border-bottom: solid 1px $black;
            padding: 60px 0;
            h2 {
                font-size: $size-15;
                font-weight: 900;
            }
            p {
                font-size: $size-12;

                text-align: center;
            }
        }
        .privacypolicy {
            color: $gray1;
            display: block;
            margin: 30px auto 40px;
        }
        address {
            background: $black;
            font-style: normal;
            padding: 60px 0 0;
            p {
                color: $white;
                font-size: $size-12;
                text-align: center;
            }
            #copyright {
                color: $gray3;
                font-size: $size-10;
                padding: 40px 0 25px;
            }
            a {
                color: $white;
            }
        }
    }
    
}

/*========================================================================*/
@media screen and (max-width:480px) {
    
    
    
}